<nav class="navbar navbar-expand-lg position-fixed w-100">
  <div class="container">
    <a class="navbar-brand text-light" href="#"><i class="fa-solid fa-note-sticky"></i> Notes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
        <li class="nav-item dropdown" *ngIf="!islogin">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Login
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="signin">Sign In</a></li>
            <li><a class="dropdown-item" routerLink="signup">Sign Up</a></li>
          </ul>
        </li>
        <li>
          <button class="logout" *ngIf="islogin" (click)="Logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
