.navbar{
  background-color: #343a40!important;
  z-index: 1000;
}
.dropdown-toggle{
  color: rgba(255,255,255,.75);
}
.navbar-nav .show{
  color: #fff !important;
}
.navbar-toggler{
  background-color: white;
}
.logout{
  background-color: #343a40 !important;
  border: none;
  color: white;
}

